@charset "UTF-8";

/*==========Google Fonts==========*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*==========Root==========*/
:root {
    --color1: #dd244f;
    --color2: #3e7beb;
    --color-bg: #090B13;
    --color-bg1: #15133C;
    --color-white: #fff;
    --color-black: #000;
    --color-border: rgba(255, 255, 255, 0.137);
    --color-transparent: rgba(0, 0, 0, 0);

    --widht-mobile: 97%;
    --principal-font: 'Poppins';
    --logo-font: 'Nunito';
}

/*==========Reset CSS==========*/
*, *::before, *::after {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
}
/*==========Body==========*/
body {
    background-image: linear-gradient(to right, var(--color-bg), var(--color-bg1));
    height: 100vh;
    font-family: var(--principal-font);
    font-weight: 100;
    color: var(--color-white);
}

/*==========Navbar==========*/
nav {
    background: var(--color-bg);
    width: 100vw;
    height: 4rem;
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    box-shadow: 0 -2rem 3rem  1rem var(--color-border);
}
.nav__container {
    width: 95vw;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo {
    font-family: var(--logo-font);
    font-size: 1.3rem;
    color: var(--color-white);
    font-weight: 900;
}
.nav__logo span {
    font-family: var(--logo-font);
    color: var(--color1);
}
.nav__links {
    display: flex;
    align-items: center;
    gap: 4rem;
    height: 100%;
}
.nav__links li {
    height: 100%;
}
.nav__links li a {
    color: var(--color-white);
    font-size: .9rem;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
.nav__links li a:hover {
    color: var(--primeira-cor);  
}
.nav__links li a::before {
    content: '';
    background: var(--color1);
    width: 100%;
    height: 0;
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    transition: height .5s;
}
.nav__links li a:hover::before {
    height: 85px;
}
.nav__links li a.active::after {
    content: '';
    display: block;
    background: var(--color1);
    height: 5px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.nav__links li i {
    letter-spacing: .2rem;
}

/*==========Nav btn mobile==========*/
.nav__toggle-btn {
    display: none;
}

/*==========Header Profile==========*/
header .header__profile {
    margin-top: -4rem;
}
.header__profile .header__profile-content {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-top: 10rem;
    margin-bottom: 3rem;
    border-radius: 10px;
    transition: all 1s ease;
}
.header__profile-content:hover {
    box-shadow: 0 0 4rem var(--color-border);
    transition: all .5s ease-in-out;
}

/*==========Header Left==========*/
.header__profile-content .profile-left {
    width: 50%;
    margin: auto;
}
.profile-left h1 {
    font-size: 1.5rem;
    color: var(--color1);
}
.profile-left h1 span {
    font-size: 4.5rem;
    color: var(--color-white);
    font-weight: 700;
    line-height: 4rem;
}
.profile-left h2 {
    font-size: 2;
    color: var(--color2);
    padding-bottom: 1rem;
}
.profile-left p {
    font-size: 1rem;
    letter-spacing: .1rem;
    line-height: 1.5rem;
    padding-bottom: 1rem;
}
.profile-left .profile-language {
    font-size: 1.2rem;
    padding-bottom: 2rem;
}
.profile-left .profile-language i {
    font-size: 1.5rem;
}
.html {
    color: #E44D25;
}
.css {
    color: #214CE5;
}
.js {
    color: #F7E018;
}
.react {
    color: #00D8FF;
}
.profile-left .profile-btn {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 240px;
    border: 2px solid var(--color2);
    transition: 1s ease;
    color: var(--color-white);
    font-size: 1.1rem;
}
.profile-left .profile-btn:hover {
    border: 2px solid var(--color1);
    transition: 1s ease;
}

/*==========Header Right==========*/
.profile-right {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}
.profile-right img {
    width: 80%;
}
.profile-right .profile-socials {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.profile-socials i {
    color: var(--color2);
    font-size: 1.7rem;
    transition: .7s ease;
}
.profile-socials i:hover {
    color: var(--color1);
    transition: .7s ease;
}

/*==========Header Slider==========*/
.header__slider {
    width: 90%;
    margin: auto;
}
.header__slider h3 {
    text-transform: uppercase;
    font-size: .9rem;
    margin-bottom: .5rem;
    margin-left: .7rem;
}
.slider__box {
    width: 240px;
    height: 130px;
    border-radius: 10px;
    margin: 0 7px;
    overflow: hidden;
}
.slider__box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*==========Main==========*/
main {
    margin: 2rem 0;
}

/*==========Main Sobre==========*/
main .sobre {
    width: 90vw;
    height: 100vh;
    margin: auto;
    margin-bottom: 2rem;
}

/*==========Main Projetos==========*/
main .servicos {
    width: 90vw;
    height: 100vh;
    margin: auto;
    margin-bottom: 2rem;
}

/*==========Main Portfólio==========*/
main .portfolio {
    width: 90vw;
    height: 100vh;
    margin: auto;
    margin-bottom: 2rem;
}

/*==========Main Contato==========*/
main .contato {
    width: 90vw;
    height: 100vh;
    margin: auto;
}

/*==========Footer==========*/
footer {
    background: var(--color-bg);
}
footer .footer__container {
    width: 90vw;
    margin: auto;
    padding: 1rem 0;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    align-content: center;
}

/*==========Footer left==========*/
.footer__left {
    text-align: center;
}
.footer__left h5 {
    font-size: 1.4rem;
}
.footer__left p {
    margin-bottom: 1rem;
}
.footer__left i {
    font-size: 2rem;
    color: var(--color2);
    letter-spacing: 1rem;
}

/*==========Footer Midle==========*/
.footer__midle {
    text-align: center;
}
.footer__midle h5 {
    font-size: 1.4rem;
}
.footer__midle p {
    margin-bottom: 1rem;
}
.footer__midle i {
    font-size: 2rem;
    color: var(--color2);
    letter-spacing: 1rem;
}

/*==========Footer Right==========*/
.footer__right {
    display: none;
}

/*==========Footer Text==========*/
.footer__text {
    text-align: center;
}
.footer__text h5 {
    font-size: 1.4rem;
}
.footer__text a {
    font-family: var(--logo-font);
    font-size: 1.7rem;
    color: var(--color-white);
    font-weight: 900;
    transition: .5s;
}
.footer__text a:hover {
    color: var(--color1);
    transition: .5s;
}
.footer__text a span {
    color: var(--color1);
    font-family: var(--logo-font);
}




/*==========Media Query==========*/
@media (max-width: 1024px) {
    .nav__container {
        width: var(--widht-mobile);
        position: relative;
    }
    .nav__links {
        position: absolute;
        top: 100%;
        right: -.5rem;
        flex-direction: column;
        gap: 0;
        align-items: flex-start;
        display: none;
        perspective: 500px;
    }
    .nav__links li {
        width: 100vw;
    }
    .nav__links li a {
        background-image: linear-gradient(to right, var(--color-bg), var(--color-bg1));
        height: 3rem;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0 3rem 0 2rem;
    }
    .nav__links li a::before {
        display: none;
    }
    .nav__links li a.active::after {
        display: none;
    }
    .nav__toggle-btn {
        display: inline-block;
        font-size: 2rem;
        color: var(--color-white);
        border: none;
        background: var(--color-transparent);
        cursor: pointer;
    }
    #nav__toggle-close {
        display: none;
    }

    /*==========Animação==========*/
    .nav__links li {
        transform: rotateX(90deg);
        transform-origin: top right;
        animation: animacao 1s ease forwards;
        opacity: 0;
    }
    .nav__links li:nth-child(2) {
        animation-delay: 100ms;
    }
    .nav__links li:nth-child(3) {
        animation-delay: 300ms;
    }
    .nav__links li:nth-child(4) {
        animation-delay: 500ms;
    }
    .nav__links li:nth-child(5) {
        animation-delay: 700ms;
    }
    .nav__links li:nth-child(6) {
        animation-delay: 900ms;
    }

    @keyframes animacao {
        to {
            transform: rotate(0);
            opacity: 1;
        }
    }

    /*==========Header==========*/
    .header__profile-content:hover {
        box-shadow: none;
    }
    .profile-left .profile-btn:hover {
        border: none;
    }
    .profile-socials i:hover {
        color: var(--color2);
    }

    /*==========Footer==========*/
    .footer__text a:hover {
        color: var(--color-white);
    }
    
}




/*==========Media Query==========*/
@media (max-width: 768px) {
    .header__profile .header__profile-content {
        width: 100vw;
        margin-top: 9rem;
    }
    .header__profile-content .profile-left {
        width: 95vw;
        text-align: center;
    }
    .profile-left h1 {
        font-size: 1rem;
    }
    .profile-left h1 span {
        font-size: 3rem;
    }
    .profile-left h2 {
        font-size: 1.1rem;
    }
    .profile-left p {
        font-size: .9rem;
    }
    .profile-left .profile-language {
        font-size: .9rem;
    }
    .profile-left .profile-btn {
        border: none;
        background: var(--color2);
        border-radius: 0;
        font-size: .9rem;
    }
    .profile-right img {
        display: none;
    }
    .profile-right .profile-socials {
        display: none;
    }
    footer .footer__container {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .footer__left h5 {
        font-size: 1.2rem;
    }
    .footer__left p {
        font-size: .9rem;
    }
    .footer__left i {
        font-size: 1.4rem;
    }
    .footer__midle h5 {
        font-size: 1.2rem;
    }
    .footer__midle p {
        font-size: .9rem;
    }
    .footer__midle i {
        font-size: 1.4rem;
    }
    .footer__right {
        display: inline-block;
    }
    .footer__right h5 {
        font-size: 1rem;
        text-align: center;
    }
    .footer__right .footer-socials {
        display: flex;
        gap: 1rem;
    }
    .footer-socials i {
        font-size: 1.4rem;
        color: var(--color2);
    }
    .footer__text h5 {
        font-size: 1.2rem;
    }
    .footer__text p {
        font-size: .9rem;
    }
    .footer__text a {
        font-size: 1.4rem;
    }

}