@charset "UTF-8";

/*==========Google Fonts - Rubik==========*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

/*==========Google Fonts - Nunito==========*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

/*==========Google Fonts - Poppins==========*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*==========Root==========*/
:root {

    --principal-font: 'Rubik', sans-serif;
    --logo-font: 'Nunito';
    --color-navbg: #e5e7e9;
    --color-logo: #DD2651;
    --color-font-p: #cacaca;
    --color-font-footer: #ccc;
    --color-1: #080451;
    --color-2: #09011c;
    --color-3: rgb(108, 108, 229);
    --color-background: #090B13;
    --color-glass: rgba(255, 255, 255, 0.051);
    --color-white: #fff;
    --color-dark: #000;
    --color-green: #2B7A0B;
    --color-purple: #7728ff;
    --color-hover-bg: rgba(255, 255, 255, 0.137);
    --color-icon-html: #E44D25;
    --color-icon-css: #1E4CE5;
    --color-icon-js: #F7E018;
    --color-icon-react: #00D8FF;
    --color-icon-angular: #D6002F;
    --color-icon-footer: #444B55;
    --color-btn: #7828FF;
    --color-blue: #3e7beb;
    --color-transparent: rgba(0, 0, 0, 0);
    --color-facebook: #38548F;
    --color-twitter: #28A0D5;
    --color-linkedin: #0A66C2;
    --color-instagram: #B1319F;
    --color-telegram: #2FA0D6;
    --color-github: #000000;
    --color-whatsapp: #2BAF3E;
    --color-border: rgba(255, 255, 255, 0.137);
    --color-shadow-social: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    --color-border-social: 1px solid rgba(0, 0, 0, 0);
    --color-gradient: linear-gradient(to top left, var(--color-1), var(--color-2));

    --h1-font-size: 2.25rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --small-font-size: .875rem;
    --font-medium: 400;
    --font-semi-bold: 600;
    --font-logo-bolder: 900;

    --m-0-5: .5rem;
    --m-0-75: .75rem;
    --m-1: 1rem;
    --m-1-5: 1.5rem;
    --m-2: 2rem;
    --m-2-5: 2.5rem;

    --card-padding:1.9rem 0.95rem;
    --border-radius: 1.25rem;
    --box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);

}

/*==========Reset CSS==========*/
*, *::before, *::after {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
}

/*==========Body==========*/
body {
    background: var(--color-background);
    font-family: var(--principal-font);
    font-style: normal;
    font-size: .938rem;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
a {
    color: var(--color-dark);
}
h1, h2, h3 {
    font-family: var(--font-semi-bold);
}
h1 {
    font-size: var(--h1-font-size);
}
h2 {
    font-size: var(--h2-font-size);
}
h3 {
    font-size: var(--h3-font-size);
}

/*==========Layout==========*/
.row {
    display: flex;
    flex-wrap: wrap;
}
.section .container {
    padding-top: 3.5rem;
    padding-bottom: 4.75rem;
}
.section-title {
    font-size: 2.25rem;
    margin-left: var(--m-0-75);
    margin-bottom: var(--m-2-5);
}
.padd {
    padding-left: 15px;
    padding-right: 15px;
}

/*==========Button==========*/
.btn {
    padding: 0.75rem 2rem;
    line-height: 1;
    border-radius: .2rem;
    width: 60%;
}
.btn:focus {
    outline: 0;
}
@keyframes button-push {
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}
.btn-default {
    color: var(--color-white);
    vertical-align: middle;
    display: inline-block;
    background: var(--color-btn);
    transform: perspective(1px) translateZ(0);
}
.btn-default:hover {
    animation-name: button-push;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

/*==========Header==========*/
.header {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

/*==========Navbar==========*/
.nav {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 1rem;
    width: calc(100% - 2rem);
}
.nav__toggle i {
    font-size: 2rem;
    cursor: pointer;
    color: var(--color-white);
}
.nav__logo a {
    font-family: var(--logo-font);
    font-weight: var(--font-logo-bolder);
    color: var(--color-white);
    font-size: 1.5rem;
    cursor: pointer;
}
.nav__logo a span {
    font-family: var(--logo-font);
    color: var(--color-logo);
}

/*==========Media Query Navbar==========*/
@media (max-width: 767px) {
    .nav__menu {
        position: fixed;
        top: 3rem;
        left: -100%;
        width: 100%;
        height: 100vh;
        background: var(--color-navbg);
        transition: all 1s ease;
    }
    .nav__list {
        margin-left: 1rem;
    }
    .nav__item {
        margin: 2rem 0;
    }
    .nav__item a {
        color: var(--color-dark);
        font-size: var(--normal-font-size);
    }
    .nav__item a i {
        color: var(--color-dark);
    }
    .nav-social {
        display: flex;
        justify-content: center; 
    }
    .nav-social a {
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--color-bg);
        width: 3rem;
        height: 3rem;
        margin: 3rem auto;
        border-radius: 50%;
        box-shadow: var(--color-shadow-social);
        border: var(--color-border-social);
    }
    .nav-social a i {
        font-size: 1.3rem;
        color: var(--color-dark);
    }
}

/*==========JavaScript==========*/
.show {
    left: 0;
}
.scroll-header {
    background: var(--color-github);
}

/*==========Main==========*/
.main__content {
    margin: 5rem auto auto auto;
    padding-bottom: .5rem;
    width: 94vw;
}

/*==========Timeline==========*/
.timeline .timeline-item {
    position: relative;
    padding-left: .5rem;
    padding-bottom: 1rem;
}
.timeline .timeline-item::before {
    content: '';
    width: 1px;
    position: absolute;
    height: 100%;
    left: var(--m-0-5);
    background: var(--color-glass);
    top: 0;
}
.timeline .timeline-icon {
    position: absolute;
    left: -.10rem;
    top: 0;
    font-size: 1.1rem;
    background: var(--color-background);
    color: var(--color-blue);
}
.timeline .timeline-item h4 {
    margin-left: .70rem;
    color: var(--color-dark);
    font-size: 1rem;
}

/*==========Home==========*/
.home {
    display: flex;
    justify-content: center;
}
.home .intro {
    text-align: center;
    margin-left: .5rem;
    margin-top: 2rem;
}
.home .intro h1 {
    font-size: 1.1rem;
    color: var(--color-logo);
}
.home .intro h1 span {
    font-size: 2.5rem;
    color: var(--color-white);
    line-height: 2.7rem;
}
.home .intro .info-text {
    font-size: 1.3rem;
    color: var(--color-blue);
    margin-bottom: 1.2rem;
}
.home .intro p {
    color: var(--color-font-p);
    margin-bottom: 1rem;
}
.home-conhecimentos {
    display: flex;
    justify-content: center; 
    gap: 2rem;
    margin-top: 1rem;  
    padding-bottom: 1rem;
}
.home-conhecimentos i {
    font-size: 1.4rem;
}
.html {
    color: var(--color-icon-html);
}
.css {
    color: var(--color-icon-css);
}
.js {
    color: var(--color-icon-js);
}
.react {
    color: var(--color-icon-react);
}
.angular {
    color: var(--color-icon-angular);
}
.home-btn {
    margin: 1rem 0;
}

/*==========Scrol Down==========*/
.scroll-down {
    position: absolute;
    bottom: var(--m-2-5);
    left: 0;
    width: 100%;
    display: none;
}
.nouse-wrapper {
    font-size: var(--small-font-size);
    display: block;
    margin: auto;
    max-width: 100%;
    text-align: center;
}
@keyframes ani-mouse {
    0% {
        top: 29%;
    }
    15% {
        top: 50%;
    }
    50% {
        top: 50%;
    }
    100% {
        text-outline: 20% 0 #000;
    }
}
.mouse {
    border: 2px solid var(--color-dark);
    display: block;
    height: 1.75rem;
    width: 1.25rem;
    margin: auto;
    margin-top: var(--m-0-75);
    border-radius: var(--border-radius);
    position: relative;
}
.mouse .whell {
    background: var(--color-dark);
    border-radius: 50%;
    width: 0.25rem;
    height: 0.25rem;
    position: absolute;
    top: var(--m-0-5);
    left: 40%;
    display: block;
    animation: ani-mouse 2s linear infinite;
}

/*==========Sobre==========*/
.rounded {
    padding: var(--card-padding);
}
.about-content {
    text-align: center;
}
.about-text p {
    text-align: left;
    margin-bottom: var(--m-1);
    color: var(--color-white);
}
.about .skills {
    margin: 2rem 0 2rem 0;
}
.about-content .skills .skill-item {
    flex: 0 0 100%;
    max-width: 100%;
}
.about-content .skills .skill-item h4 {
    text-align: left;
    color: var(--color-white);
    margin-bottom: .4rem;
}
.about-content .skills .skill-item .progress {
    background: var(--color-font-footer);
    height: 0.45rem;
    border-radius: var(--border-radius);
    width: 100%;
    position: relative;
}
.about-content .skills .skill-item:not(:last-child) {
    margin-bottom: var(--m-1-5);
}
.about-content .skills .skill-item .progress .progress-in {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: var(--border-radius);
}
.style-html {
    width: 89%;
    background: linear-gradient(90deg, var(--color-green), var(--color-icon-html))
}
.style-css {
    width: 81%;
    background: linear-gradient(90deg, var(--color-green), var(--color-icon-css));
}
.style-js {
    width: 65%;
    background: linear-gradient(90deg, var(--color-green), var(--color-icon-js));
}
.style-react {
    width: 20%;
    background: linear-gradient(90deg, var(--color-green), var(--color-icon-react));
}
.style-angular {
    width: 12%;
    background: linear-gradient(90deg, var(--color-green), var(--color-icon-angular));
}
.about-content .skills .skill-item .skill-percent {
    position: absolute;
    right: 0;
    top: .6rem;
    color: var(--color-white);
}

/*==========Meus serviços==========*/
.services .service-item {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.services .service-item .service-item-inner{
    padding: 1.2rem;
    text-align: center;
    transform: translateY(0);
    transition: 0.3s;
}
.services .service-item .service-item-inner:hover {
    transform: translateY(-0.625rem);
}
.uil-html5, .uil-css3-simple, .uil-java-script {
    font-size: 4rem;
}
.service-item p {
    color: var(--color-font-p);
}

/*==========Portfólio==========*/
.portfolio__container {
    display: flex;
    flex-direction: column;
    margin: 1rem .5rem;
}
.portfolio-text {
    text-align: center;
}
.portfolio-text p {
    color: var(--color-font-p);
}
.portfolio__slider {
    text-align: center;
}
.portfolio-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color-blue);
    margin: 1rem .7rem;
    border-radius: 10px;
    overflow: hidden;
    width: 250px;
}
.box-img {
    width: 100%;
    height: 270px;
}
.box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box-title {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--color-logo);
    padding-top: 7px;
    text-align: center;
    width: 120px;
    height: 35px;
    border-bottom-left-radius: 0.98rem;
    border-bottom-right-radius: 0.98rem;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}
.box-title i {
    letter-spacing: .2rem;
    color: var(--color-white);
}
.box-title a {
    color: var(--color-font-p);
    font-size: .7rem;
    letter-spacing: .2rem;
}
.card-text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    background: var(--transparent-color);
}
.card-text strong {
    font-size: 1rem;
    color: var(--white-color);
    margin-bottom: .3rem;
}
.card-text p {
    color: var(--color-font-p);
}

/*==========Contato==========*/
.contact-box {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}
.contact-description {
    margin: .2rem;
}
.contact-description {
    display: inline-block;
    align-items: center;
    color: var(--color-blue);
    font-size: 1.1rem;
}
.contact-form {
    width: 92vw;
}
.contact-inputs {
    display: grid;
    row-gap: 2rem;
    margin-bottom: var(--m-2-5);
    margin-left: .5rem;
    color: var(--color-transparent);
}
.contact-content {
    position: relative;
    height: 3rem;
    border-bottom: 2px solid ;
}
.contact-content span {
    position: absolute;
    bottom: -2px;
    left: 0;
    content: '';
    height: 2px;
    width: 0;
    background: var(--color-3);
    transition: .5s;
}
.contact-input:focus ~ span {
    width: 100%;
}
.contact-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem 1rem 1rem 0;
    background: none;
    color: var(--color-font-p);
    border: none;
    z-index: 1;
}
.contact-label {
    position: absolute;
    top: 0.40rem;
    width: 100%;
    font-size: var(--small-font-size);
    color: var(--color-font-p);
    transition: .2s;
}
.contact-area {
    height: 7rem;
}
.contact-area textarea {
    resize: none;
}
.contact-input:focus + .contact-label {
    top: -.75rem;
    left: 0;
    z-index: 10;
    color: var(--color-3);
}
.contact-btn {
    border-radius: 10px;
    text-align: center;
    background: var(--color-3);
    margin-left: 4rem;
}

/*==========Footer==========*/
footer {
    padding: 1rem 0;
    border-top: 2px solid var(--color-blue);
}
.footer__cards {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    color: var(--color-font-footer);
}
.footer__card {
    text-align: center;
    margin: 1rem 0;
}
.footer__card h5 {
    font-size: 1.2rem;
}
.footer__card p {
    color: var(--color-font-p);
}
.footer__card i {
    color: var(--color-icon-footer);
    font-size: 1.5rem;
    letter-spacing: 2rem;
}
.footer__card a {
    font-family: var(--logo-font);
    font-weight: 900;
    color: var(--color-white);
    font-size: 1.1rem;
    cursor: pointer;
}
.footer__card a span {
    font-family: var(--logo-font);
    color: var(--color-logo);
}
.footer__social {
    display: flex;
    gap: 1.5rem;
    margin-top: 1.4rem;
}
.footer__social i {
    font-size: 1.7rem;
    color: var(--color-icon-footer);
}
.footer__copy {
    text-align: center;
    margin-top: 1.5rem;
}

/*==========Pop-up==========*/
.popup-wrapper {
    background: var(--color-background);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1;
}
.popup {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100%;
    max-width: 17rem;
    margin: 50% auto;
    padding: 2rem;
    background: var(--color-navbg);
    position: relative;
    border-radius: 1rem;
}
.popup-close {
    color: var(--color-dark);
    font-size: 1.2rem;
    position: absolute; 
    top: .5rem;
    right: 1rem;
    cursor: pointer;
    border: 1px solid var(--color-dark);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}
.popup-content h6 {
    margin-top: 1rem;
    color: var(--color-dark);
    font-size: .8rem;
}
.popup-contact {
    display: flex;
    justify-content: center; 
    gap: 1.5rem;
    margin: 1.4rem auto .7rem auto;
}
.popup-contact i {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-bg);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    box-shadow: var(--color-shadow-social);
    border: var(--color-border-social);
    font-size: 1.3rem;
}
.uil-telegram-alt {
    color: var(--color-telegram);
}
.uil-whatsapp {
    color: var(--color-whatsapp);
}
.uil-envelope-edit {
    color: var(--color-purple);
}





