@charset "UTF-8";

@charset "UTF-8";

/*==========Google Fonts - Nunito==========*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

/*==========Google Fonts - Poppins==========*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*==========Root==========*/
:root {

    --principal-font: 'Poppins', sans-serif;
    --logo-font: 'Nunito';
    --color-navbg: #e5e7e9;
    --color-logo: #DD2651;
    --color-font-p: #cacaca;
    --color-font-footer: #ccc;
    --color-1: #090B13;
    --color-2: #15133B;
    --color-light: rgba(132, 139, 200, 0.18); 
    --color-glass: rgba(255, 255, 255, 0.051);
    --color-white: #ffffff;
    --color-dark: #000;
    --color-green: #2B7A0B;
    --color-purple: #7728ff;
    --color-hover-bg: rgba(255, 255, 255, 0.137);
    --color-icon-html: #E44D25;
    --color-icon-css: #1E4CE5;
    --color-icon-js: #F7E018;
    --color-icon-react: #00D8FF;
    --color-icon-angular: #D6002F;
    --color-icon-footer: #444B55;
    --color-btn: #7828FF;
    --color-blue: #3e7beb;
    --color-box: #1A0E45;
    --color-form-bg: #ecf0f3;
    --color-transparent: rgba(0, 0, 0, 0);
    --color-facebook: #38548F;
    --color-twitter: #28A0D5;
    --color-instagram: #B1319F;
    --youtube-color: #F10002;
    --color-telegram: #2FA0D6;
    --color-github: #000000;
    --color-whatsapp: #2BAF3E;
    --color-shadow-social: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    --color-border-social: 1px solid rgba(0, 0, 0, 0);

}

/*==========Reset CSS==========*/
*, *::before, *::after {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
}

/*==========Body==========*/
body {
    background: var(--color-dark);
    font-family: var(--principal-font);
    font-style: normal;
    font-size: .938rem;
    color: var(--color-white);
}
h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
}
ul {
    padding: 0;
    list-style: none;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}

/*==========Header==========*/
.header {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.nav {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 1rem;
    width: calc(100% - 2rem);
}
.nav__toggle i {
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--color-white);
}
.nav__logo a {
    font-family: var(--logo-font);
    font-weight: 900;
    color: var(--color-white);
    font-size: 1.5rem;
    cursor: pointer;
}
.nav__logo a span {
    font-family: var(--logo-font);
    color: var(--color-logo);
}
.nav__menu {
    position: fixed;
    top: 3rem;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: var(--color-navbg);
    transition: all 1s ease;
}
.nav__list {
    margin-left: 1rem;
}
.nav__item {
    margin: 2rem 0;
}
.nav__item a {
    color: var(--color-dark);
    font-size: 1.1ren;
}
.nav__item a i {
    color: var(--color-purple);
}
.nav-social {
    display: flex;
    justify-content: center; 
}
.nav-social a {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-bg);
    width: 3rem;
    height: 3rem;
    margin: 3rem auto;
    border-radius: 50%;
    box-shadow: var(--color-shadow-social);
    border: var(--color-border-social);
}
.nav-social a i {
    font-size: 1.3rem;
    color: var(--color-purple);
}

/*==========JavaScript==========*/
.show {
    left: 0;
}
.scroll-header {
    background: var(--color-2);
}

/*==========Main==========*/
.main__container {
    margin: 3rem auto;
}
.main__content {
    width: 92vw;
    margin: auto auto;
}

/*==========Main Text==========*/
.main-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}
.main-text article h1 {
    font-size: 1.1rem;
    color: var(--color-logo);
}
.main-text h1 span {
    font-size: 3rem;
    color: var(--color-white);
    line-height: 2.7rem;
}
.main-text h2 {
    font-size: 1.3rem;
    color: var(--color-purple);
    margin-bottom: 1.2rem;
}
.main-text p {
    color: var(--color-font-p);
    margin-bottom: 1rem;
}
.main-conhecimentos {
    display: flex;
    justify-content: center;   
}
.main-conhecimentos .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-2);
    width: 3rem;
    height: 3rem;
    margin: 2rem .5rem;
    border-radius: 50%;
    border: none;
}
.main-conhecimentos .btn i {
    font-size: 1.3rem;
}
.html {
    color: var(--color-icon-html);
}
.css {
    color: var(--color-icon-css);
}
.js {
    color: var(--color-icon-js);
}
.react {
    color: var(--color-icon-react);
}
.angular {
    color: var(--color-icon-angular);
}
.main-text .main-textbtn {
    background: var(--color-btn);
    border-radius: .2rem;
    padding: .7rem;
    display: flex;
    width: 100%;
}
.main-text .main-textbtn a {
    color: var(--color-white);
    font-size: 1.1rem;
    margin: auto;
}

/*==========Main Sobre==========*/
.sobre__container {
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    background: var(--color-dark);
    border-radius: .5rem;
    box-shadow: 0 0 30rem var(--color-purple);
}
.sobre-text {
    padding: 1rem;
    text-align: center;
}
.sobre-text p {
    color: var(--color-font-p);
    margin-bottom: 1rem;
}
.habilidades {
    width: 90%;
    margin: auto;
    padding-bottom: 1rem;
}
.habilidades h3 {
    color: var(--color-white);
    font-size: 1.2rem;
}
.habilidades hr {
    width: 25%;
    height: 5px;
    background: var(--color-logo);
    border-radius: 3px;
    margin-top: 7px;
    border: none;
}
.progresso {
    position: relative;
    margin: 2.5rem 0 .5rem 0;
    border-radius: 20px;
    background: var(--color-white);
}
.progresso span {
    position: absolute;
    top: -20px;
    color: var(--color-font-p);
    font-size: .8rem;
}
.barra-progresso {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-size: 1rem;
    color: var(--color-white);
}
.progresso:nth-child(3) .barra-progresso {
    background: linear-gradient(90deg, var(--color-green), var(--color-icon-html));
}
.progresso:nth-child(4) .barra-progresso {
    background: linear-gradient(90deg, var(--color-green), var(--color-icon-css));
}
.progresso:nth-child(5) .barra-progresso {
    background: linear-gradient(90deg, var(--color-green), var(--color-icon-js));
}
.progresso:nth-child(6) .barra-progresso {
    background: linear-gradient(90deg, var(--color-green), var(--color-icon-react));
}
.progresso:nth-child(7) .barra-progresso {
    background: linear-gradient(90deg, var(--color-green), var(--color-icon-angular));
}

/*==========Main Portfólio==========*/
.portfolio__container {
    display: flex;
    flex-direction: column;
}
.portfolio-text {
    text-align: center;
}
.portfolio-text h4 {
    font-size: 1.2rem;
    letter-spacing: .4rem;
}
.portfolio-text p {
    color: var(--color-font-p);
}
.portfolio__slider {
    text-align: center;
}
.portfolio-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--color-purple);
    margin: 1rem .7rem;
    border-radius: 10px;
    overflow: hidden;
    width: 250px;
}
.box-img {
    width: 100%;
    height: 270px;
}
.box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box-title {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--color-dark);
    padding-top: 7px;
    text-align: center;
    width: 120px;
    height: 35px;
    border-radius: 0px 0px 10px 10px;
    border-right: 2px solid var(--color-purple);
    border-left: 2px solid var(--color-purple);
    border-bottom: 2px solid var(--color-purple);
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}
.box-title i {
    letter-spacing: .2rem;
    color: var(--color-blue);
}
.box-title a {
    color: var(--color-font-p);
    text-transform: uppercase;
    font-size: .7rem;
    letter-spacing: .2rem;
}
.card-text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    background: var(--transparent-color);
}
.card-text strong {
    font-size: 1rem;
    color: var(--white-color);
    margin-bottom: .3rem;
}
.card-text p {
    color: var(--color-font-p);
}

/*==========Main Contato==========*/
.contato__container {
    border: 1px solid var(--color-glass);
    box-shadow: 4px 4px var(--color-glass);
}
.contato-text p {
    text-align: center;
    padding: 1rem 1rem;
    color: var(--color-font-p);
}
.contato-box p {
    text-align: center;
    padding: 1rem 1rem;
    color: var(--color-font-p);
}

/*==========Footer==========*/
footer {
    background: var(--color-2);
    padding: 1rem 0;
}
.footer__container {
    width: 92vw;
    margin: auto auto;
    color: var(--color-font-footer);
}
.footer__box {
    text-align: center;
    margin: 1rem 0;
}
.footer__box h5 {
    font-size: 1.2rem;
}
.footer__box i {
    color: var(--color-logo);
    font-size: 1.5rem;
    letter-spacing: 2rem;
}
.footer__box a {
    font-family: var(--logo-font);
    font-weight: 900;
    color: var(--color-white);
    font-size: 1.1rem;
    cursor: pointer;
}
.footer__box a span {
    font-family: var(--logo-font);
    color: var(--color-logo);
}
.footer__social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 1.4rem;
}
.footer__social i {
    font-size: 2rem;
    color: var(--color-white);
}
.footer__copy {
    text-align: center;
    margin-top: 1.5rem;
}





/*==========Footer==========*/